.blogsMonth{
	float:left;
	width:400px;
}
.blogsMonth ul{
	list-style: none;
	margin:0 0 0 30px;
	padding:0;
}
.blogsMonth li{
	padding: 10px 0 10px 0;
}

.blogsMonth li a{
	color:#06396D;

	font-size: 1.1em;
	
}
#month{
	width:300px;
	float:left;
	margin:0 0 0 20px;
}

#month a{
	color:#000;
	font-size: 1.5em;
	padding:10px 0 10px 0;
	line-height: 1.5;
	font-weight: bold;
	color:#06396D;
}

#month img{
	width:12px;
	margin:0 0 0 5px;
}

